@media (min-width: 600px) {

    body {
        background-image: url(imgs/newbg.jpg);
        background-size: 100% 127%;
        background-repeat: no-repeat;
        background-position: center;
        
    }

    #main-box {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    h1 {
        font-family: 'Amatic SC', cursive;
        text-align: center;
        color: white;
        font-size: 50px;
        margin: 40px 0 10px 0;
    }
    
    #plant1 > img {
        display: flex;
        width: 20%;
        height: auto;
        /* margin: 0 0 0 363px; */
        border-radius: 20%;
        margin: auto;
        margin-top: 0;
        margin-bottom: -5px;
    }

    #begin {
        margin: 0 0 15px 0;
        width: 200px;
        font-family: 'Amatic SC', cursive;
        background-color: #de8982;
        font-size: 20px;
        border-color: white;
        color: white;
        margin: 20px 0 40px 0;
    }

    #output-box {
        font-family: 'Amatic SC', cursive;
        font-size: 30px;
        font-style: bold;
        text-align: center;
        color: white;
        height: 125px;
        width: 700px;
        background-color: rgba(0, 255, 0, 0.3);
        box-shadow: 5px 6px darkgrey;
    }

    #choices {
        display: flex;
        margin: 0 50px 10px 50px;
        align-items: center;
        justify-content: space-evenly;
    }


    #buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0 15px 0 15px;
    }

    #water > img {
        width: 170px;
        height: auto;
        border-radius: 30%;
        box-shadow: 5px 6px darkgrey;
    }

    #waterBtn {
        font-family: 'Amatic SC', cursive;
        background-color: 	#6faefb;
        font-size: 20px;
        border-color: white;
        color: white;
    }

    #shelter > img {
        width: 170px;
        height: auto;
        border-radius: 20%;
        box-shadow: 5px 6px darkgrey;
    }

    #shelterBtn {
        font-family: 'Amatic SC', cursive;
        background-color: #544c4d;
        font-size: 20px;
        border-color: white;
        color: white;
    }
    
    #lamp > img {
        width: 170px;
        height: auto;
        border-radius: 20%;
        box-shadow: 5px 6px darkgrey;
    }

    #lampBtn {
        font-family: 'Amatic SC', cursive;
        background-color: #de8982;
        font-size: 20px;
        border-color: white;
        color: white;
    }

    #doNothing > img {
        width: 170px;
        height: auto;
        border-radius: 20%;
        box-shadow: 5px 6px darkgrey;
    }

    #nothingBtn {
        font-family: 'Amatic SC', cursive;
        background-color: #547b4c;
        font-size: 20px;
        border-color: white;
        color: white;
    }

    #bail > img {
        width: 170px;
        height: auto;
        border-radius: 20%;
        box-shadow: 5px 6px darkgrey;
    }

    #bailBtn {
        font-family: 'Amatic SC', cursive;
        background-color: #6c7e94;
        font-size: 20px;
        border-color: white;
        color: white;
    }

    #health-water {
        margin
    }

    .healthwater {
        font-family: 'Amatic SC', cursive;
        color: white;
        font-size: 25px;
    }

}

/* body {
    background-image: url(imgs/newbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
}

#main-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    color: white;
    font-size: 50px;
}

#plant1 > img {
    display: flex;
    width: 20%;
    height: auto;
    /* margin: 0 0 0 363px; */
    border-radius: 20%;
    margin: auto;
}

#begin {
    margin: 0 0 15px 0;
    width: 200px;
}

#output-box {
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    font-style: bold;
    text-align: center;
    color: white;
    height: 125px;
    width: 800px;
    margin: 0 0 25px 0;
    background-color: rgba(0, 255, 0, 0.3)
    
    
}

#choices {
    display: flex;
    margin: 20px 50px 10px 50px;
    align-items: center;
    justify-content: space-evenly;
}


#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 15px 0 15px;
}

#water > img {
    width: 170px;
    height: auto;
    border-radius: 30%;
    
}

/* #waterBtn {
    margin-right: 20px;
} */

#shelter > img {
    width: 170px;
    height: auto;
    border-radius: 20%;
}

/* #shelterBtn {
    margin-right: 15px;
} */

#lamp > img {
    width: 170px;
    height: auto;
    border-radius: 20%;
}

/* #lampBtn {
    margin-right: 15px;
} */

#doNothing > img {
    width: 170px;
    height: auto;
    border-radius: 20%;
}

/* #nothingBtn {
    margin-left: 40px;
} */

#bail > img {
    width: 170px;
    height: auto;
    border-radius: 20%;
}

/* #bailBtn {
    margin-left: 60px;
} */

#health-water {
    margin
}

.healthwater {
    font-family: 'Amatic SC', cursive;
    
} */